* {
  box-sizing: border-box;
}

body {
  display: flex;
  margin: 0;
  padding: 0;
}


/* Main Home Section: */

.home-main-section {
  background-color: #571F4E;
  background-size: cover;
  height: 100vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: auto;
}

.title {
  font-size: 3vw;
  text-size-adjust: auto;
}

.choose-your-game-text {
  font-size: 2vw;
  margin-bottom: 1vw;
  margin-top: 0;
  text-size-adjust: auto;
}

.home-classic-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: medium solid #000000;
  margin-bottom: 4vw;
  padding: 1vw;
}

.home-difficult-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: medium solid #000000;
  padding: 1vw;
  margin-bottom: 1em;
}

.classic-difficult-titles {
  font-size: 1.5vw;
  margin-bottom: 0;
  text-size-adjust: auto;
}

.listed-rules {
  font-size: 1vw;
  text-size-adjust: auto;
}


/* Side Sections: */

.sides-emojis {
  font-size: 4vw;
  text-size-adjust: auto;
}

.sides-titles {
font-size: 3vw;
text-size-adjust: auto;
}

.sides-wins {
font-size: 2vw;
text-size-adjust: auto;
}

.human-side-section {
  background-color: #5D5179;
  background-size: cover;
  height: 100vh;
  width: 25vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.computer-side-section {
  background-color: #5D5179;
  background-size: cover;
  height: 100vh;
  width: 25vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

/* Classic and Difficult Fighter Displays */
img {
  width: 8vw;
  height:8vw;
  margin: 2em;
}

.display-classic-fighters {
  display: flex;
  justify-content: space-around;
  margin-top: 5em;
  width: 45vw;
}

.display-difficult-fighters {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 5em;
  width: 45vw;

}

/* Misc */
.hidden {
  display: none;
}

/* A2FAA3
92C9B1
4F759B
5D5179
571F4E */
