* {
  box-sizing: border-box;
}

body {
  display: flex;
  margin: 0;
  padding: 0;
}

.home-main-section {
  background-color: #571F4E;
  background-size: cover;
  height: 100vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: auto;
}

.title {
  font-size: 3vw;
}

.choose-your-game-text {
  font-size: 2vw;
  margin-bottom: 1vw;
  margin-top: 0;
}

.game-choice {
  border: medium solid #4F759B;
  background-color: #5D5179;
  padding: 1vw;
  padding-right: 3vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2.5vw;
}

.game-choice:hover {
  cursor: pointer;
  background-color: #92C9B1;
}

.classic-difficult-titles {
  font-size: 2vw;
  margin-bottom: 0;
}

.listed-rules {
  font-size: 1.5vw;
}

.change-game-button {
  background-color: #571F4E;
  height: 3vw;
  width: 15vw;
  font-size: 1.5vw;
  margin-top: 5em;
}

.sides-emojis {
  font-size: 4vw;
}

.sides-titles {
  font-size: 3vw;
}

.sides-wins {
  font-size: 2vw;
}

.side-sections {
  background-color: #5D5179;
  background-size: cover;
  height: 100vh;
  width: 25vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

img {
  width: 8vw;
  height:8vw;
  margin: 2em;
}

img:hover {
  cursor: pointer;
}

.display-classic-fighters {
  display: flex;
  justify-content: space-around;
  margin-top: 5em;
  width: 45vw;
}

.display-difficult-fighters {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 5em;
  width: 45vw;
}

.hidden {
  display: none;
}
